#square-container{
    border: 1px #000000 solid;
    margin: auto;
    width: 800px;
    height: 450px;
    transition: all 3s;
}

#square-container div{
    border: 1px #000000 solid;
    color: #ffffff;
    width: 50px;
    height: 50px;
    margin: 4px auto;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    transition: all 3s;
}

.even{
    background-color: #0000ff;
}

.odd{
    background-color: #61249d;
}

.containter:hover{
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 40px;
}

#square-container:hover .even{
    transform: translateX(-340px) rotate(1080deg) scale(2);
}

#square-container:hover .odd{
    transform: translateX(375px) rotate(-1080deg) scale(.75);
}