header{
    text-align:center;
    border-style:solid;
    border-color: Blue;
    border-width: 10px;
    background: white;
    margin:50px 100px;
    border-radius: 50px;
}

#logo {
    width: 100px;
    vertical-align: middle;
}

.nav {
    display: inline;
    list-style-type: none;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

main {
    text-align:center;
    background-color: white;
    width: 550px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-style:solid;
    border-color: Blue;
    border-width: 10px;
    margin: auto;
    border-radius: 50px;
}

#profile{
    width: 300px;
    padding: 15px;
}

h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("/images/computer_background.jpg");
    color: darkblue
}

